  .central {text-align: center;}
  h1.supertitulo{color:rgb(0, 0, 0); font-size: 32px;}

  .supertitulo{font-size:50px}

  #tituloprincipal{font-size: 90px; color: rgb(0, 0, 0);}

  p{background-color:rgba(222, 184, 135)}
  p{text-align: center;}

  .lista li{
    font-size: 30px;
    color:rgba(222, 184, 135);
  }

  body{
    background-color: peachpuff;
  }
  
  .caixa{
    margin: 10px;
    margin-top: 50px;
    padding: 20px;
    border: 4px solid black;
    width: fit-content;
    background-color: rgba(222, 184, 135);
  }