.imagem{
  background: url(imagens/gato2.JPG);
  width: 200px;
  height: 200px;
  display: block;
  background-size: contain;
  transition: background 300ms;
}

.imagem:hover{
  background-position: 0px 200px;
  
  
}