.alt{
  list-style-type:square;
  font-size: 20px;
  color:midnightblue;
  background-color: gold;
  width: fit-content;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.alt li:nth-child(odd){
  background-color: goldenrod;
}

.alt li:nth-child(even){
  background-color:lightcoral;
}

  .alt li:hover{
    font-weight: bold;
  }