.square{
  border: 3px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color:blueviolet;
  position: absolute;
  font-family:Arial, Helvetica, sans-serif;
}

  .quadrado1{
    left: 0px;
    top: 0px;
    background-color: cornflowerblue;
  }

.quadrado2{
  position:absolute;
  left: 0px;
  bottom: 0px;
  background-color: darkslategrey;
}

.quadrado3{
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: deeppink;
}

.quadrado4{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color:darkseagreen;
}